body {
  color: #999999;
  width: 100%;
  line-height: 1.879;
  min-height: 100%;
}
html {
  font-size: 8px;
}
.home-container {
  background-image: url('./images/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #999999;
  text-align: center;
  height: 500px;
}
.home-container h1 {
  padding-top: 16%;
  font-size: 12px;
  margin-block-start: 0em;
}
.home-container p {
  padding-top: 4%;
  padding-left: 14%;
  padding-right: 14%;
  font-size: 12px;
}
.about-container {
  font-size: 10px;
  display: block;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 3%;
  height: 100%;
  width: 100%;
}
.aboutInfo {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.about-col {
  flex-grow: 2;
  max-width: 50%;
  margin-right: 2%;
  margin-left: 3%;
  margin-bottom: 5%;
  max-height: 50%;
}
.about-details {
  padding-top: 17%;
}
.skill-details {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.skill-details h4 {
  padding-left: 14px;
}
.skills-info {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.skills-col-left {
  flex-grow: 2;
  max-width: 50%;
  margin-right: 2%;
  margin-left: 3%;
}
.skills-col-right {
  flex-grow: 2;
  max-width: 50%;
  margin-right: 2%;
  margin-left: 3%;
}
.skills-col-left p {
  font-size: 9px;
}
.skills-col-right p {
  font-size: 9px;
}
.aboutImage {
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.3);
}
img {
  width: 150px;
  height: 250px;
  border-style: outset;
  border-width: 5px;
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-top: 7%;
  position: absolute;
}
.projectsContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
h3 {
  font-weight: bold;
  padding-left: 15px;
  color: #999999;
  font-size: 20px;
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
}
.projectDiv {
  width: 80%;
  background-color: #77878B;
  border-radius: 25px;
  height: 200px;
  margin-bottom: 2%;
  margin-left: 4.5%;
  padding: 10px;
}
.projectDiv p {
  word-wrap: break-word;
  font-size: 8px;
  text-align: left;
  padding-left: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #e0e0e0;
}
.projectLink {
  color: #e0e0e0;
  font-size: 11px;
  padding-left: 20px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.projectTitle {
  color: #e0e0e0;
  font-size: 16px !important;
  padding-left: 20px;
}
h5 {
  text-align: center;
}
.submit {
  margin-left: 40%;
}
#authDiv {
  margin: auto;
  width: 50%;
  padding-top: 10px;
}
#adminDiv {
  margin: auto;
  width: 50%;
  padding-top: 10px;
}
label {
  font-size: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
  .home-container {
    height: 500px;
  }
  .home-container h1 {
    font-size: 30px;
  }
  .home-container p {
    font-size: 16px;
  }
  .about-container {
    font-size: 	16px;
  }
  .about-col {
    max-height: 50%;
  }
  .skill-details {
    margin-top: 5%;
  }
  .skills-col-left p {
    font-size: 	16px;
  }
  .skills-col-right p {
    font-size: 	16px;
  }
  img {
    width: 300px;
    height: 400px;
  }
  .projectDiv {
    width: 42%;
  }
  h3 {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
  }
  label {
    font-size: 12px;
  }
  .projectTitle {
    font-size: 20px !important;
  }
  .projectLink {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  .home-container {
    height: 750px;
  }
  .home-container h1 {
    font-size: 40px;
  }
  .home-container p {
    font-size: 20px;
  }
  .about-container {
    font-size: 21px;
  }
  .about-details {
    padding-top: 14%;
  }
  .skill-details h4 {
    padding-left: 38px;
  }
  .skill-details {
    margin-top: 7%;
    margin-bottom: 2%;
  }
  .skills-col-left p {
    font-size: 	21px;
  }
  .skills-col-right p {
    font-size: 	21px;
  }
  img {
    margin-top: 1%;
    width: 450px;
    height: 550px;
  }
  .projectDiv {
    width: 42%;
  }
  .projectTitle {
    font-size: 26px !important;
  }
  .projectAbout {
    font-size: 16px !important;
  }
  .projectLink {
    font-size: 14px;
  }
  h3 {
    font-size: 40px;
  }
  label {
    font-size: 16px;
  }
}
